/* admin.module.css */

.login-container {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-form {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.login-heading {
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.8); /* Add transparency to form inputs */
}

.form-input:focus {
  outline: none;
  border-color: #4d90fe;
  box-shadow: 0 0 5px rgba(77, 144, 254, 0.3);
}

.error-message {
  color: #ff0000;
  margin-bottom: 20px;
  text-align: center;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-button,
.register-button {
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button {
  background-color: #4d90fe;
  color: #ffffff;
}

.login-button:hover {
  background-color: #357ae8;
}

.register-button {
  background-color: #cccccc;
  color: #333333;
}

.register-button:hover {
  background-color: #b3b3b3;
}

.divider {
  margin: 0 20px;
  color: #999999;
}

.login-heading {
  color: white;
}