.payment-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.payment-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.payment-button {
  margin: 0 0.5rem;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.payment-button:hover {
  background-color: #0056b3;
}

.qr-image {
  margin-top: 1rem;
  text-align: center;
}

.qr-image img {
  max-width: 200px;
  height: auto;
}

.cash-payment {
  margin-top: 1rem;
}

.print-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.print-button:hover {
  background-color: #0056b3;
}